<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>{{Sobre[0].titulo}}</h1>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{Sobre[0].conteudo}}</p>
            </blockquote>
        </div>
    </div>
</div>
<div class="container">
    <button type="button" class="btn btn-danger" (click)="fAltera()">Alterar</button>
    <form *ngIf="login" (submit)="functionLogin(UserInput.value, PassInput.value, $event)">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" #UserInput>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" #PassInput>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Logar</button>
    </form>

    <article class="formAltera" *ngIf="formulario">
        <section>
            <h2>Alterar Conteúdo da Página Sobre</h2>
            <form (submit)="AlteraSobre(tituloInput.value, conteudoInput.value, $event)">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder={{Sobre[0].titulo}} #tituloInput>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Conteúdo</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"
                        placeholder={{Sobre[0].conteudo}} #conteudoInput></textarea>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Alterar</button>
                    <div class="alert alert-danger" role="alert" *ngIf="m">
                        {{mensagem}}
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="err">
                        {{mensagem}}
                    </div>
                </div>
            </form>
        </section>
    </article>
</div>